<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--  <title>My First Sinatra App</title> -->
  <title><%= @title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

  <p>Visit our <a href="/">Home Page</a> to get more info</p>

  <p>Visit our <a href="/contact_us">Contact Page</a> to get more information.</p>

  <p>View our <a href="/shop">Shop Page</a> to shop our products.</p>

  <p>Visit our <a href="/order_form">Order Page</a> to order our products.</p>

  <p>Learn more <a href="about_us">About Us</a> and meet our team!</p>

  <p>Take a peek at our <a href="recommendations">Reccomendations Page</a> for some of our staff's top picks!</p>
  
  <!-- Contact page specific content should go here -->

  <%= yield %>  

<script type="text/javascript" src="index.js"></script>
</body>
</html>