<% @title="Shop" %>

<h1>Shop</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repudiandae nobis architecto nostrum mollitia labore harum qui, voluptatem beatae tempora eligendi ea aperiam ab facere minima veritatis, sint nisi provident.</p>
