body {
	background-color: #f9fff7;
	font-family: "Poiret One", sans-serif;
	color: #4c4c4c;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

div {
	margin: 0;
}

#logoText {
	font-family: "Anton", sans-serif;
}

a {
	text-transform: uppercase;
}

.clear {
	clear: both;
}

.italics {ˇ
	font-style: italic;
}

input:focus {
    background-color: #fff3f3;
    border: 1px solid black;
    color: #407231;
}

input, #messageSubject, #messageButton, #subscribeButton, #joinButton {
	padding: 10px;
	border: 1px solid #407231;
	border-radius: 5px;
}

.hidden {
	display: none;
}



/*
 *	logo
 */

#logo, #logo img {
	max-width: 450px;
	max-height: 125px;
	margin: 10px;
	overflow: hidden;
}

#logo {
	display: inline-block;
	opacity: .5;
}

#logo img {
	border-radius: 10px;
}

#logoText {
	font-size: 50px;
	text-shadow: 2px 2px 5px white;
	top: 20px;
	left: 100px;
	position: absolute;
	color: #4c4c4c;
}



/*
 *	nav & footer
 */

nav ul, footer ul {
	padding: 0;
}

nav li, footer li {
	list-style: none;
	padding: 0;
	padding-right: 10px;
	text-align: center;
	padding-bottom: 10px
}

nav li:last , footer li:last {
	padding-right: 0;
}

nav {
	position: absolute;
	right: 10px;
	top: 50px;
}

nav li {
	display: block;
}

nav a {
	text-decoration: underline;
	padding-right: 10px;
}

nav a:last {
	padding-right: 0;
}

.nav-link a {
	color: #fff;
}

nav a, footer a {
	color: #407231;
}

nav a, .nav-link a {
	font-size: 25px;
	color: white;
}

footer a {
	font-size: 20px;
}

footer li {
	display: inline-block;
}

#menu {
	color: #407231;
}

#hamburger {
	float: right;
	width: auto;
}

.navbar-toggler {
 	border: none;
}

.navbar-nav {
	position: absolute;
	z-index: 5;
	background: rgba(64, 114, 49,0.7);
	height: auto;
	width: 300px;
	padding: 20px 0;
	right: 0;
}

.open {
	visibility: visible;
}

.collapse {
	visibility: hidden;
}

.animated-icon {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.animated-icon span {
	background: #407231;
}

.animated-icon span:nth-child(1) {
	top: 0px;
	transform-origin: left center;
	}

.animated-icon span:nth-child(2) {
	top: 10px;
	transform-origin: left center;
}

.animated-icon span:nth-child(3) {
	top: 20px;
	transform-origin: left center;
}


.animated-icon.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 0px;
	left: 8px;
}

.animated-icon.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.animated-icon.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 21px;
	left: 8px;
}        

footer {
	padding-top: 10px;
	background-color: #e9ffe2;
}

footer ul {
	padding-top: 10px;
}

footer li div a {
	padding: 5px 10px;
}

footer li div a:hover {
	padding: 5px 10px;
	color: #f9fff7;
	background-color: #407231;
	text-decoration: underline;
	opacity: .6;
}

#copyright, footer ul {
	padding-left: 20px;
	margin: 15px 0;
}

#copyright {
	padding-bottom: 15px;
}

#emailForm {
	margin-top: 5px;
	float: right;
	display: inline-block;
	padding-right: 10px;
}

#subscribeButton {
	margin-left: 10px;
}



/*
 * regular top nav
 */

#regNav {
	width: 100%;
	margin: 10px;
	text-align: center;
}

.regNavItem {
	color: #407231;
	font-size: 25px;
}

.regNavLinks li {
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	margin: 0;
}

.regNavLinks li div {
	padding: 10px 20px;
}

.regNavLinks li div:hover {
	background-color: #407231;
	color: #f9fff7;
	padding: 10px 20px;
	text-decoration: underline;
	opacity: .6;
}




/*
 *	hero
 */

#hero {
	background: url("img/paperColor.jpg") no-repeat 50%/100%;
	opacity: .8;
	background-size: cover;
	background-size: 100% auto;
	background-position: center center;
	position: relative;
	padding: 0;
	margin: 20px 0;
	padding: 0;
	overflow: hidden;
}

#hero img {
	vertical-align: top;
	width: 100%;
	height: auto;
	max-height: 600px;
	overflow: hidden
	padding: 0;
	margin: 15px 0;
	opacity: 0;
}

#heroText, #heroAnimateText {
	position: absolute;
	top: 50%;
	right: 5%;
	background-color: rgba(255,255,255, .8);
	padding: 10px 30px;
	border-radius: 5px;
	font-size: 50px;
}

#heroText {
	animation: textAnimate 10s infinite;
}

#heroAnimateText {
	animation: textAnimate2 8s infinite;
}

@keyframes textAnimate {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes textAnimate2 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}




/*
 *	shop
 */

.col {
	width: 32%;
	padding: 0 5px;
	float: left;
	display: inline-block;
	margin: auto;
}

#shop {
	padding-top: 20%;
	height: 600px;
 }


.animateImage, .animateImage img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	opacity: 1;
}

.animateImage {
	background-color: rgb(64, 114, 49,0.7);;
	margin: auto;
	align-content: middle;
	top: 18%;

}

.animateImage img {
	animation: fadeInOut 10s infinite;
	align-content: middle;
	top: 18%;
}

.animateImage p {
	font-family: "Pacifico";
	font-size: 24px;
	color: #f9fff7;
	position: absolute;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 1;
	}
	51% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}



/*
 *	about
 */

#about {
	background: url("img/paperFlat.jpg") no-repeat 50%/100%;
	opacity: .8;
	background-size: cover;
	background-size: 100% auto;
	background-position: center center;
	position: relative;
	padding: 0;
	margin: 20px 0 0;
}

#about img {
	vertical-align: top;
	width: 100%;
	height: 600px;
	padding: 10% 0;
	margin: 20px 0;
	opacity: 0;
}

#aboutText {
	background-color: rgba(255, 255, 255, .8);
	position: absolute;
	top: 20%;
	left: 10%;
	width: 40%;
	padding: 10px 25px;
}



/*
 *	join us
 */

#joinUs {
	height: 600px;
	margin-top: 20px;
	padding: 10% 0;
}

#joinUsText {
	background-color: rgba(255, 255, 255, .8);
	width: 40%;
	top: 25%;
	left: 10%;
	position: relative;
	display: block;
	padding: 5px 15px;
	margin: 0;
}

#officeVideo {
	position: absolute;
	height: 600px;
	width: 100%;
}

#joinButton {
	width: 100%;
	margin: 10px auto;
}



/*
 * contact
 */

 #contact {
 	position: relative;
	margin: 100px 20%;
	background: rgba(64, 114, 49,0.7);
	padding: 10px;
	color: #f9fff7;
}

#contact input {
	margin: 10px;
	width: 80%;
	padding: 7px;
}

#messageSubject {
	width: 60%;
	margin: 10px;
}

#sendMessage {
	float: right;
}

#messageConfirmation {
	color: #f9fff7;
}

textarea {
	border-radius: 5px;
	width: 85%;
	margin: 10px;
	padding: 7px;
}


/*
 * Responsive!!!
 */

@media only screen and (max-width: 768px) {
	body {
		display: block;
		position: absolute;
		padding: 0
		margin: 0;
	}
	div {
		max-width: 100%;
	}
	#logo, #logo img, #logoText, .navbar, nav, footer {
		width: 100%;
	}
	#logo, #logo img, #logoText, #menu, navbar-toggler, footer {
		display: block;
	}
	.navbar {
		top: 10px;
	}
	.navbar, #menu, nav{
		position: relative;
		display: inline-block;
		margin: 10px 0;
	}
	#logo, #logo img {
		margin: 0;
		max-width: 100px;
		max-height: auto;
		margin: 10px;
		overflow: hidden;		
	}
	#logoText {
		font-size: 30px;
		max-width: 100%;
	}
	#heroText, #heroAnimateText {
		font-size: 20px;
	}
	#regNav li {
		width: 100%;
		text-align: center;
	}
	.regNavLinks li div, footer li div {
		width: 100px;
		margin: auto;
	}
	.shopItem {
		width: 100%;
	}
	.animateImage, .animateImage img, .col {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		top: 0;
	}
	.animateImage p {
		font-size: 20px;
		position: absolute;
		max-width: 100%;
		max-height: 100%
	}
	#about {
		height: 500px;
	}
	#aboutText {
		width: 65%;
	}
	#joinUs {
		height: 500px;
	}
	#joinUsText {
		width: 65%;
	}
	#emailInput {
		margin-left: 20px;
	}
	#emailForm {
		display: block;
		margin: 20px auto;
		max-width: 100%;
		width: 300px;
	}
	footer li, #emailForm, #copyright {
		float: none;
	}
	footer li {
		width: 100%;
		text-align: center;
	}
	footer ul {
		display: block;
	}
}
