/*Learning Objectives:
	Upon successful completion of this project, the student will demonstrate their understanding of semantic HTML, proper element targeting in CSS, behavioral javascript, animations and understanding the website user.

Instructions:
	You have been hired by a fictional paper company to build a one page informational web page that highlights the best aspects of their business. During your meetings with them, they have indicated to you that they feel they need to present their product in a more exciting way. Think of ways you could make their product stand out. It could be interesting use of color palette or animations.

Some questions to ask yourself:
	Who is the user?
	What does the business want to highlight?
	What is the goal of the website?
	Does my website fulfil the needs of the user?
	Do my animations and event callbacks improve the user experience?
	Does my website describe its intent?

Examples (Inspiration):
	https://www.and.co/digital-nomad-book (Links to an external site.)Links to an external site.
	https://www.timepot.io/ (Links to an external site.)Links to an external site.
	http://www.45.denicler.eu/ (Links to an external site.)Links to an external site.

Challenge:
	If you take a look at the Timepot website, you will notice that there are several animations happening on scroll. Try to add a animation that triggers when scrolling thru specific sections of your one page website.

Completion Requirements:

The completed assignment should:
	have a wireframe
	be one page
	have HTML tags be semantically relevant to the content it contains
	make proper use of classes and id’s to target content
	ids must be used for an individual element
	classes should be used for grouped elements
	have at least one useful animation on the page
	have at least one useful javascript event callback (click, hover, keydown, etc)*/


body, #subscribeButton {
	background-color: #f9fff7;
	font-family: "Poiret One", sans-serif;
	color: #4c4c4c;
}

#logoText {
	font-family: "Anton", sans-serif;
}

a {
	text-transform: uppercase;
}

.clear {
	clear: both;
}

.italics {ˇ
	font-style: italic;
}

input:focus {
    background-color: #fff3f3;
    border: 1px solid black;
    color: #407231;
}

input, #messageSubject, #messageButton, #subscribeButton {
	padding: 10px;
	border: 1px solid #407231;
	border-radius: 5px;
}

.hidden {
	display: none;
}


/*
 *	logo
 */

#logo, #logo img {
	width: 450px;
	height: 125px;
}

#logo {
	display: inline-block;
	margin: 10px 0;
	opacity: .5;
}

#logo img {
	border-radius: 10px;
	margin: 5px 0;
}

#logoText {
	font-size: 50px;
	text-shadow: 2px 2px 5px white;	top: 10px;
	left: 40px;
	position: absolute;
	color: #4c4c4c;
}



/*
 *	nav & footer
 */

nav ul, footer ul {
	padding: 0;
}

nav li, footer li {
	list-style: none;
	display: inline-block;
	padding: 0;
	padding-right: 10px;
}

nav li:last , footer li:last {
	padding-right: 0;
}

nav {
	position: absolute;
	right: 10px;
	top: 50px;
}

nav a {
	text-decoration: underline;
	padding-right: 10px;
}

nav a:last {
	padding-right: 0;
}

.nav-link a {
	color: #fff;
}

nav a, footer a {
	color: #407231;
}

nav a, .nav-link a {
	font-size: 25px;
	color: white;
}

footer a {
	font-size: 20px;
}

#menu {
	color: #407231;
}

#hamburger {
	float: right;
	width: auto;
}

.navbar-toggler {
 	border: none;
}

.navbar-nav {
	position: absolute;
	z-index: 5;
	background: rgba(64, 114, 49,0.7);
	height: auto;
}

.open {
	visibility: none;
}

.collapse {
	visibility: hidden;
}

.animated-icon {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}


.animated-icon span {
	background: #407231;
}


.animated-icon span:nth-child(1) {
	top: 0px;
	transform-origin: left center;
	}

.animated-icon span:nth-child(2) {
	top: 10px;
	transform-origin: left center;
}

.animated-icon span:nth-child(3) {
	top: 20px;
	transform-origin: left center;
}


.animated-icon.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 0px;
	left: 8px;
}

.animated-icon.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.animated-icon.open span:nth-child(3) {

	transform: rotate(-45deg);
	top: 21px;
	left: 8px;
}        

footer {
	padding-top: 10px;
	background-color: #e9ffe2;
}

footer ul {
	padding-top: 10px;
}

#copyright, footer ul {
	padding-left: 20px;
	margin: 15px 0;
}

#copyright {
	padding-bottom: 15px;
}

#emailForm {
	margin-top: 5px;
	float: right;
	display: inline-block;
}

#subscribeButton {
	margin-left: 10px;
}



/*
 *	hero
 */

#hero {
	background: url("../img/paperColor.jpg") no-repeat 50%/100%;
	background-size: cover;
	background-size: 100% auto;
	background-position: center center;
	position: relative;
	padding: 0;
	margin: 20px 0;
	overflow: hidden;
}

#hero img {
	vertical-align: top;
	width: 100%;
	height: auto;
	max-height: 500px;
	overflow: hidden
	padding: 0;
	margin: 15px 0;
	opacity: 0;
}

#heroText {
	position: absolute;
	top: 50%;
	right: 5%;
	background-color: rgba(255,255,255,.7);
	padding: 10px 30px;
	border-radius: 5px;
	font-size: 50px;
}



/*
 *	content
 */
.col {
	width: 32%;
	padding: 0 5px;
	float: left;
	display: inline-block;
	margin: auto;
}



/*
 *	shop
 */

#shop {
	padding-top: 20%;
	height: 500px;
 }


.animateImage, .animateImage img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	opacity: 1;
}

.animateImage {
	background-color: rgb(64, 114, 49,0.7);;
	margin: auto;
	align-content: middle;
	top: 18%;

}

.animateImage img {
	animation: fadeInOut 10s infinite;
	align-content: middle;
	top: 18%;
}

.animateImage p {
	font-family: "Pacifico";
	font-size: 24px;
	color: #f9fff7;
	position: absolute;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 1;
	}
	51% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}



/*
 *	about
 */

#about {
	background: url("../img/paperFlat.jpg") no-repeat 50%/100%;
	background-size: cover;
	background-size: 100% auto;
	background-position: center center;
	position: relative;
	padding: 0;
	margin: 20px 0 0;
}

#about img {
	vertical-align: top;
	width: 100%;
	height: auto;
	max-height: 500px;
	overflow: hidden
	padding: 0;
	margin: 20px 0;
	opacity: 0;
}

#aboutText {
	background-color: rgba(255, 255, 255, .8);
	position: absolute;
	top: 20%;
	left: 10%;
	width: 40%;
	padding: 10px 25px;
}



/*
 *	video background
 */

#joinOurTeam {
	height: 500px;
}

#joinOurTeamText {
	background-color: rgba(255, 255, 255, .8);
	width: 40%;
	top: 50px;
	left: 10%;
	position: relative;
	display: block;
}

#officeVideo {
	position: absolute;
	height: 500px;
	width: 100%;
}



/*
 * contact
 */

 #contact {
 	position: relative;
	margin: 100px 20%;
	background: rgba(64, 114, 49,0.7);
	padding: 10px;
	color: #f9fff7;
}

#contact input {
	margin: 10px;
	width: 80%;
	padding: 7px;
}

#contact, input.message {

}

#messageSubject {
	width: 60%;
	margin: 10px;
}

#sendMessage {
	float: right;
}

#messageConfirmation {
	color: #f9fff7;
}
