body {
  font-family: sans-serif
  width: 100%;
  margin: 10px auto;
}

.container {
  margin: 20px auto;
}

a:hover {
  text-decoration: none;
}

.current_btn {
  margin: 20px 0;
}

h1, h3 {
  font-weight: lighter;
}

.app_name {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid gray;
  border-radius: 5px;
  text-decoration: none;
  margin: 2px;
  padding: 0 10px;
}

.create_new_btn {
  margin-top: 20px
}