<% @title="Create New" %>

<form action="/post_new" method="POST" class="form_element">

  <div class="form-group">
    <label for="item_title">
      Title:
    </label>
    <input type="text" name="item_title" class="form-control" aria-describedby="help" placeholder="Please enter a title">
    <small id="help" class="form-text text-muted">
      Don't worry, you can change this later.
    </small>
  </div>

  <div class="form-group">
    <label for="to_do_descr">
      Description
    </label>
    <textarea class="form-control" name="to_do_descr" rows="3" placeholder="To Do item description"></textarea>
  </div>

  <button type="submit" class="btn btn-outline-secondary submit-btn">
    Post New Item
  </button>

</form>