* {
	color: grey;
    box-sizing: border-box;	
}

.logo {
	float: left;
}

.nav {
	text-transform: uppercase;
	font-size: 20px;	
	list-style-type: none;
	text-align: right;
	margin-right: 15%;
	font-weight: bold;
}

li {
	display: inline-block;
	padding: 40px 30px 0px 30px;
}

.column {
	float: left;
    padding: 10px 50px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}