.box {
	width: 200px;
	height: 200px;
	background-color: red;
	border: 2px solid blue;
	margin: 10px;
	display: inline-block;
}


@media (max-width: 768px) {
	.box {
		width: 100px;
		height: 100px;
		background-color: blue;
		border: 5px dashed red;
		display: block;
		margin: 40px;
	}
}