<% @title="Book Search" %>

<h2>Welcome to the Book Search App!</h2>

<h4>Let's get started! Please our new search feature to find your next book!</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio necessitatibus unde, libero molestias, maxime fugiat nam maiores, pariatur, nulla est laboriosam rem placeat! Quia veritatis harum, beatae ipsam, cupiditate consectetur.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore aut sapiente architecto ea cumque fugiat totam vel velit, quidem voluptas, cupiditate doloribus fugit odit, non eum ex quia error sit.</p>