<% @title="Error" %>

<article class="container">
  <div class="row">
    <div class="col-12">
      <h4>Sorry, we did not understand that. Please try again</h4>
    </div>
    <!-- /.col-12 -->
  </div>
  <!-- /.row -->
</article>
<!-- /.container -->