<% @title="Error" %>

<h4>Sorry, we did not understand that. Please try again</h4>

<!-- <article>
    <form action="/search" method="POST" class="form_element">
      <div class="form-group">

        <label for="search">
          Title or Author:
        </label>

        <input type="text" name="user_input" class="form-control" aria-describedby="search_help" placeholder="Please enter title or author">

        <small id="search_help" class="form-text text-muted">
          We're not perfect spellers, you don't have to be either.
        </small>
      </div>

      <button type="submit" class="btn btn-primary">
        Search
      </button>

    </form>
  </article> -->
