* {
	margin: 0;
	font-family: sans-serif;
}

header, div, footer {
	padding: 20px;
}

select {
	float: right;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

header {
	background-color: #BEB2C8;
	height: 30px;
}

div {
	background-color: #D7D6D6;
}

footer {
	background-color: #dD5E60;
}

.morningText {
	color: #63D2FF;
}

.afternoonText {
	color: blue;
}

.nightText {
	color: #DCDCDD;
}

.morningDBg {
	background-color: #FF784F;
}
.morningHBg {
	background-color: #C7EFCF;
}
.morningFBg {
	background-color: #D6D1B1;
}

.afternoonDBg {
	background-color: #78D5D7;
}
.afternoonHBg {
	background-color: #2081C3;
}
.afternoonFBg {
	background-color: #BED8D4;
}

.nightDBg {
	background-color: #4C5C68;
}
.nightHBg {
	background-color: #46494C;
}
.nightFBg {
	background-color: #1985A1;
}
