body {
  margin: 10px 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
  background: url(img/pokeball.jpg) no-repeat fixed center;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

h1, h4 {
  text-align: center;
  font-weight: bold;
}

h1 {
  color: #fff;
}

p {
  margin: 5px;
}

.pokedex {
  border: 1px solid #000;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.col-6 {
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: 1px solid #000;
  padding: 0;
  color: #000;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn {
  margin: 5px 0;
}

.card {
  margin: 10px 0;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
}

.pokemonSelection {
  text-align: center;
  margin: 5px auto 15px;
}

.closeBtn {
  text-align: center;
}

.statImg {
  max-width: 100%;
}
