body {
  font-family: "VT323", serif;
  color: #000;
  background: url(img/pokeballBg.jpg) no-repeat fixed center;
}

body, .card {
  margin: 10px 0;
}

body, button:hover, .goBtn, .closeBtn {
  padding: 0;
}

.hidden {
  display: none;
}

.bold, h1, h4 {
  font-weight: bold;
}

.center, h1, h4, .intro, .pokemonSelect, .closeBtn {
  text-align: center;
}

h1, button {
  color: #fff;
}

button:hover, .goBtn {
  color: #000;
}

p {
  margin: 5px;
  font-size: 25px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

button {
  font-size: 25px;
}

.pokedex, button:hover, .card {
  border: 1px solid #000;
  border-radius: 10px;
}

.pokedex {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding: 10px;
}

button {
  background-color: transparent;
  border: 1px solid transparent;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

button:focus {
  outline: none;
}

.introImg {
  height: auto;
  border-radius: 10px;
}

.goBtn {
  top: 15%;
  right: 10%;
  position: absolute;
}

.btn {
  margin: 5px 0;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
}

.pokemonSelect {
  margin: 5px auto 15px;
}

.statImg, .trainerImg, .introImg {
  max-width: 100%;
}
