$font: 'VT323', serif;
$mainTextColor: #000;
$warningColor: #DD0F0F;
$highlightTextColor: #fff;
$cardBackground: rgba(255, 255, 255, .6);
$mainBorder: 1px solid $mainTextColor;
@mixin standardBorder() {
	border: $mainBorder;
	border-radius: 10px;
}


body {
	font-family: $font;
	color: $mainTextColor;
	background: url(img/pokeballBg.jpg) no-repeat fixed center;
}

body, .card {
	margin: 10px 0;
}

body, button:hover, .goBtn, .closeBtn {
	padding: 0;
}

.bold, h1, h4 {
	font-weight: bold;
}

.center, h1, h4, .intro, .pokemonSelect, .closeBtn {
	text-align: center;
}

h1, button,  {
	color: $highlightTextColor;
}

button:hover, .goBtn {
	color: $mainTextColor;
}

p {
	margin: 5px;
	font-size: 25px; 
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h4 {
	font-size: 30px;
}

button {
	font-size: 25px;
}

.pokedex, button:hover, .card {
	@include standardBorder();
}

.pokedex {
	width: 90%;
	margin: 0 auto;
}

.container {
	width: 100%;
	padding: 10px;
}

button, .closeBtn {
	background-color: transparent;
	border: 1px solid transparent;    
}

button:hover, .closeBtn{
	background-color: $cardBackground;
	animation: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.introImg, .statImg {
	height: auto;
	border-radius: 10px;
}

.goBtn {
	top: 15%;
	right: 10%;
	position: absolute;
	animation: shake 2.5s infinite; 
}

.bulbasaurImg {
	animation: shake 6s infinite;	
}

.charmanderImg {
	animation: shake 6s infinite; 
	animation-delay: .8s;
}

.squirtleImg {
	animation: shake 6s infinite; 
	animation-delay: 1.6s;
}

.btn {
	margin: 5px 0;
}

.closeBtn {
	position: absolute;
	background: transparent;
}

.card {
	background-color: $cardBackground;
}

.pokemonSelect {
	margin: 5px auto 15px;
}

.statImg, .trainerImg, .introImg {
	max-width: 100%;
}

@keyframes shake {
    0% {
    	transform: translate(1px, 1px) 
    	rotate(0deg);
    }
    2% {
    	transform: translate(-1px, -2px)
    	rotate(-1deg);
    }
    4% {
    	transform: translate(-3px, 0px)
    	rotate(1deg);
    }
    6% {
    	transform: translate(3px, 2px)
    	rotate(0deg);
    }
    8% {
    	transform: translate(1px, -1px)
    	rotate(1deg);
    }
    10% {
    	transform: translate(-1px, 2px)
    	rotate(-1deg);
    }
    12% {
    	transform: translate(-3px, 1px)
    	rotate(0deg);
    }
    14% {
    	transform: translate(3px, 1px)
    	rotate(-1deg);
    }
    16% {
    	transform: translate(-1px, -1px)
    	rotate(1deg);
    }
    18% {
    	transform: translate(1px, 2px)
    	rotate(0deg);
    }
    20% {
    	transform: translate(1px, -2px)
    	rotate(-1deg);
    }
    22% {
    	transform: translate(1px, 1px)
    	rotate(0deg);
    }
}
